body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.top-color {
    background-image: url(images/dog-paw-1575029_640.jpg);
    /*  This background images is repeated across the back */
    height: 38%;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 30px;
    border-radius: 50px;
    font-size: 16px;
    position: fixed;
    z-index: 10;
    right: 50px;
    left: 50;
    top: 15px;
}

.nav-left {
    position: absolute;
    left: 0;
    padding-left: 20px;
    font-size: 20px;
}

.nav-left-dog {
    color: yellow;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    display: flex;
    align-content: center;
    text-decoration: none;
    padding: 0px 30px;
    color: white;
}

.nav-links li a:hover {
    color: rgb(226, 207, 31);
}

.contact-us button {
    background-color: rgba(21, 216, 183, 1);
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: rgba(21, 216, 183, 0.7);
}

.ruby-ribbon {
    height: 30vh;
    margin-top: -6%;
    margin-left: 20vh;
    border: 2px solid white;
}

.ruby-quote {
    color: white;
    padding: 10px;
    display: flex;
    width: 100vh;
    position: relative;
    float: right;
    right: 25%;
    margin-top: 2%;
    font-style: italic;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
    float: right;
    column-gap: 3%;
    right: 5%;
    top: 2%;
}

.flex {
    background-color: white;
    padding: 10;
    border-radius: 20px;
    box-shadow: 10px 10px 0 0px rgb(243, 243, 71);
}